<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/delete-examination-appeal.css">
</head>
<body>
    <header class="main-header">
        <h1>Delete appeal</h1>
    </header>

    <h1 th:text="${title}">Select examination appeal to delete</h1>
    <div class="form-container">
        <form action="#" th:action="@{/api/v1/examination-appeal/delete}" method="post">
            <input type="hidden" name="_method" value="DELETE" />

            <label for="appeal">Appeal to delete :</label>
            <select id="appeal" name="id" >
                <option value="">Select appeal</option>
                <option th:if="${appeals != null}"
                    th:each="appeal : ${appeals}" th:value="${appeal.id}" th:with="text=${appeal.course.name + ' - ' + appeal.degreeCourse + ' - ' + appeal.date}" th:text="${text}">Appeal</option>
            </select>
            </p>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>

        <div class="back-link">
            <a th:href="@{/user_professor/examinations/examination_appeal/examination-appeal-menu}">Back to menu</a>
        </div>

</body>
</html>