<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student-list.css">
</head>
<body>

    <h1 class="main-title">Students</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration</th>
                    <th>Email</th>
                    <th>Degree Course</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.fullname}">Nome</td>
                    <td th:text="${student.register.register}">Register</td>
                    <td th:text="${student.username}">Email</td>
                    <td th:text="${student.degreeCourse.name}">Degree Course</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-actions">
        <a th:href="@{/student/student-menu}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>