<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Error: Invalid parameter</h1>
    <p th:if="${message == 'Course name cannot be empty'}">Course name cannot be empty.</p>
    <p th:if="${message == 'Degree course name cannot be empty'}">Degree course name cannot be empty.</p>
    <p th:if="${message == 'Date cannot be in the past'}">Date cannot be in the past.</p>
    <p th:text="'exception: ' + ${message}"></p>
    <p><a href="javascript:history.back()">Go back</a></p>
</body>
</html>