<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
</head>
<body>
    <h1>An error occurred</h1>
    <p class="message" th:text="${message}">Error message</p>
    <br>
    <p><a href="javascript:history.back()">Go back</a></p>
    <a href="/" class="btn-home">Back to home</a>
</body>
</html>
