<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/create-appeal.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/ums-degree-courses.js"></script>
</head>
<body>

    <header class="main-header">
        <h1>Create new course</h1>
    </header>

    <main class="form-container">
        <form action="#" th:action="@{/api/v1/course/create}" th:object="${course}" method="post" class="course-form">

            <div class="form-group">
                <input type="text" th:field="*{name}" id="name"
                    placeholder="Enter course name" title="Enter course name" required>
            </div>

            <div class="form-group">
                <label for="type-select">Course Type</label>
                <select th:field="*{type}" id="type-select" title="Select course type" required>
                    <option value="" disabled selected>Select a type</option>
                    <option th:each="type : ${T(com.alex.universitymanagementsystem.enum_type.CourseType).values()}"
                            th:value="${type}"
                            th:text="${type.name()}">Type</option>
                </select>
            </div>

            <div class="form-group">
                <label for="cfu">CFU</label>
                <input type="number" th:field="*{cfu}" id="cfu"
                    placeholder="Enter CFU" title="Enter credits" required>
            </div>

            <div class="form-group">
                <label for="uniqueCode">Professor Unique Code</label>
                <input type="text" th:field="*{uniqueCode}" id="uniqueCode"
                    placeholder="Enter professor's unique code" title="Enter unique code" required>
            </div>

            <label for="degreeCourse">Degree Course:</label>
            <select th:field="*{degreeCourseName}" id="degreeCourse" required>
                <option value="">-- Select a Course --</option>
                <option th:each="degreeCourse : ${degreeCourses}"
                        th:value="${degreeCourse.name}"
                        th:text="${degreeCourse.name}">
                </option>
            </select>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>

        <div class="back-link">
            <a th:href="@{/course/course-menu}">Back to Menu</a>
        </div>
    </main>

</body>
</html>