<!DOCTYPE HTML>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/professor-success.css">
</head>
<body>
    <div class="container">
        <h1 th:if="${professor != null}">Registration completed successfully</h1>
        <p th:text="'Name: ' + ${professor.firstName} + ' ' + ${professor.lastName}"></p>
        <p th:text="'Email: ' + ${professor.username}"></p>
        <p th:text="'Fiscal Code: ' + ${professor.fiscalCode}"></p>
        <p th:text="'Unique Code: ' + ${professor.uniqueCode}"></p>
        <a href="#" th:href="@{/login}">Login</a>
    </div>
    <div th:if="${professor == null}">
        <p>Error: profile not created.</p>
        <a href="#" th:href="@{/login}">Login</a>
    </div>
</body>
</html>
