<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/examination-menu.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/static/js/ums-notify.js"></script>
</head>
<body>

    <h1>Examination menu</h1>

    <div class="card-container">

        <div class="card">
            <h2>Booklet</h2>
            <p>Click <a th:href="@{/api/v1/examination/student-register}">here</a> to view your exam booklet</p>
        </div>

        <div class="card">
            <h2>Available appeals</h2>
            <p>Click <a th:href="@{/api/v1/examination-appeal/available/student}">here</a> to view available appeals</p>
        </div>

        <div class="card">
            <h2>Booked appeals</h2>
            <p>Click <a th:href="@{/api/v1/examination-appeal/booked/student}">here</a> to view your booked appeals</p>
        </div>

        <div class="card">
            <h2>Evaluation</h2>
            <p>Click <a th:href="@{/api/v1/examination-outcome/view}">here</a> to check your results</p>
        </div>

    </div>

    <div class="form-actions">
        <a th:href="@{/user_student/student-home}" class="home-link">Back to Home</a>
    </div>

</body>
</html>
