<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/examinations.css"> <!-- Include the unified CSS -->
</head>
<body>
    <h1>Examinations</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Cfu</th>
                    <th>Registration</th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Date</th>
                    <th>Degree Course</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="examination : ${examinations}">
                    <td th:text="${examination.courseName}">Course</td>
                    <td th:text="${examination.courseCfu}">Cfu</td>
                    <td th:text="${examination.register}">Student register</td>
                    <td th:text="${examination.register} + ' ' + ${examination.register}">Student name</td>
                    <td>
                        <span th:text="${examination.grade}">Grade</span>
                        <span th:if="${examination.withHonors}"> with honors</span>
                    </td>
                    <td th:text="${examination.date}">Date</td>
                    <td th:text="${examination.degreeCourseName}">Degree course name</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="summary">
        <div>CREDITS ACQUIRED: <span th:text="${#aggregates.sum(examinations.![courseCfu])}">Total CFU</span></div>
        <div>AVERAGE RATING: <span th:text="${#aggregates.avg(examinations.![grade])}">Average Rating</span></div>
    </div>

    <div class="form-actions">
        <a th:href="@{/user_student/examinations/examination-menu}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>
