<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Professor Menu - John Doe | Department of Computer Science</title>
    <link rel="stylesheet" type="text/css" href="/static/css/professor-menu.css">
</head>
<body>
    <header>
        <h1>Michael Scarn | Department of Computer Science</h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="#" class="dropdown">Student Management</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/student/student-list}">View Student List</a></li>
                    <li><a th:href="@{/student/student-create}">Create New Student</a></li>
                    <li><a th:href="@{/student/student-update}">Update Student</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Professor's Options</h2>
            <div class="button-container">
                <a href="#" th:href="@{/student/student-list}" class="btn">View Student List</a>
                <a href="#" th:href="@{/exam/exam-create}" class="btn">Create Exam</a>
                <a href="#" th:href="@{/exam/exam-verify}" class="btn">Record Exam Results</a>
            </div>
        </section>
    </main>

    <footer>
        <a href="#" th:href="@{/home}">Back to Home</a>
    </footer>
</body>
</html>