<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/professor-list.css">
</head>
<body>
    <h1>Professors</h1>
    <table>
        <tr>
            <th>Unique Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
        </tr>
        <tr th:each="professor : ${professors}">
            <td th:text="${professor.uniqueCode.code}">Unique Code</td>
            <td th:text="${professor.firstName} + ' ' + ${professor.lastName}">Name</td>
            <td th:text="${professor.username}">Email</td>
        </tr>
    </table>
    <br>
    <a href="#" th:href="@{/degree_course/degree-course-menu}">Back to Menu</a>
</body>
</html>