<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student-list.css">
</head>
<body>
    <h1>Students</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Registration</th>
            <th>Email</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.fullname}">Nome</td>
            <td th:text="${student.register.register}">Register</td>
            <td th:text="${student.username}">Email</td>
        </tr>
    </table>
    <br>
    <a href="#" th:href="@{/degree_course/degree-course-menu}">Back to Menu</a>
</body>
</html>