<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>University Management Application</title>
</head>

<body>
    <h1>Create new examination appeal</h1>
    <form action="#" th:action="@{/api/v1/examination-appeal/create}" method="post">

        <label for="course">Select course</label>
        <select name="courseId" title="Select a course">
            <option th:each="course : ${courses}" th:text="${course.name} + ' - ' + ${course.degreeCourse.name}" th:value="${course.courseId.id}">Course</option>
        </select></p>

        <label for="description">Description</label>
        <input type="text" name="description" title="Enter description"
            placeholder="description"></p>

        <label for="date">Date:</label>
        <input type="date" name="date" title="Enter appeals date"
                placeholder="appeals date"></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <br>
    <a href="#" th:href="@{/user_professor/examinations/examination_appeal/examination-appeal-menu}">Back to menu</a>
</body>