<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/students-booked.css">
</head>
<body>

    <h1>Student information</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration</th>
                    <th>Email</th>
                    <th>Degree Course</th>
                    <th>Evaluation</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${appeal.students}">
                    <td th:text="${student.firstName} + ' ' + ${student.lastName}">Name</td>
                    <td th:text="${student.register}">Register</td>
                    <td th:text="${student.username}">Email</td>
                    <td th:text="${student.degreeCourse.name}">Degree Course</td>
                    <td>
                        <a th:href="@{/api/v1/examination-outcome/make/{register}/{id}(register=${student.register}, id=${appeal.id})}"
                            th:if="${appeal.date lt T(java.time.LocalDate).now()}">Evaluation</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <tr class="total-row">
        <td colspan="5" th:text="'Total registered students: ' + ${#lists.size(appeal.students)}"></td>
    </tr>

    <div class="form-actions">
        <a th:href="@{/api/v1/examination-appeal/read/professor}" class="home-link">Back to Check</a>
        <a th:href="@{/user_professor/examinations/examination_appeal/examination-appeal-menu}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>