<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student-menu.css"> <!-- Assicurati che il percorso sia corretto -->
</head>
<body>

    <h1 class="main-title">Student menu</h1>

    <div class="card-container">
        <div class="card">
            <h2>View all students</h2>
            <p>Click <a th:href="@{/api/v1/student/view}">here</a> to view the full list of students.</p>
        </div>

        <div class="card">
            <h2>Read student information</h2>
            <p>Click <a th:href="@{read/read}">here</a> to read a student's information.</p>
        </div>

        <div class="card">
            <h2>Update student information</h2>
            <p>Click <a th:href="@{/api/v1/student/update}">here</a> to update student information.</p>
        </div>
    </div>

    <div class="form-actions">
        <a th:href="@{/user_admin/student/student-menu}" class="home-link">Back to Home</a>
    </div>

</body>
</html>