<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/professor-list.css"> <!-- Assicurati che esista -->
</head>
<body>

    <h1 class="main-title">Courses</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>CFU</th>
                    <th>Professor Name</th>
                    <th>Degree Course</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.name}">Course name</td>
                    <td th:text="${course.type.name()}">Course type</td>
                    <td th:text="${course.cfu}">Cfu</td>
                    <td th:text="${course.professor?.fullName}">Professor</td>
                    <td th:text="${course.degreeCourse.name}">Degree Course</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-actions">
        <a th:href="@{/course/course-menu}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>