<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Examination Menu</title>
</head>
<body>
    <h1>View all courses</h1>
    <p>Click <a th:href="@{/api/v1/course/view}">here</a> for took all exams</p>

    <h1>Read Course information</h1>
    <p>Click <a th:href="@{read/read}">here</a> for read course information</p>

    <h1>Create new Course</h1>
    <p>Click <a th:href="@{/api/v1/course/create}">here</a> for create new course</p>

    <h1>Update Course</h1>
    <p>Click <a th:href="@{/api/v1/course/update}">here</a> for update course</p>

    <h1>Delete Course</h1>
    <p>Click <a th:href="@{delete/delete}">here</a> for delete course</p>

    <h1>See the exams taken relating to a given course</h1>
    <p>Click <a th:href="@{/examination/read/examination-course}">here</a> for took all exams relating to a given course</p>
    <br>
    <a href="#" th:href="@{/home}">Back to Home</a>
</body>
</html>