<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/course-menu.css"> <!-- Assicurati che il file esista -->
</head>
<body>

    <h1>Course menu</h1>

    <div class="card-container">

        <div class="card">
            <h2>All courses</h2>
            <p>Click <a th:href="@{/api/v1/course/view}">here</a> to view all courses</p>
        </div>

        <div class="card">
            <h2>Course Information</h2>
            <p>Click <a th:href="@{/api/v1/course/read}">here</a> to read course information</p>
        </div>

        <div class="card">
            <h2>New course</h2>
            <p>Click <a th:href="@{/api/v1/course/create}">here</a> to create a new course</p>
        </div>

        <div class="card">
            <h2>Update course</h2>
            <p>Click <a th:href="@{/api/v1/course/update}">here</a> to update course information</p>
        </div>

        <div class="card">
            <h2>Delete course</h2>
            <p>Click <a th:href="@{/api/v1/course/delete}">here</a> to delete a course</p>
        </div>

        <div class="card">
            <h2>Exams related to a course</h2>
            <p>Click <a th:href="@{/examination/read/examination-course}">here</a> to view exams for a course</p>
        </div>

    </div>

    <div class="form-actions">
        <a th:href="@{/user_admin/admin-home}" class="home-link">Back to Home</a>
    </div>

</body>
</html>