<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Course</title>
    <link rel="stylesheet" type="text/css" href="/static/css/examination-update.css"> <!-- Riutilizza lo stile -->
</head>

<body>

    <div class="container">
        <h1>Update Course Information</h1>

        <form action="#" th:action="@{/api/v1/course/update}" method="post">

            <input type="hidden" name="_method" value="PUT" />

            <label for="old_name">Old Course Name:</label>
            <input type="text" name="old_name" id="old_name" placeholder="Old course name" title="Enter old course name" required />

            <label for="old_degree_course_name">Old Degree Course Name:</label>
            <input type="text" name="old_degree_course_name" id="old_degree_course_name" placeholder="Old degree course name" title="Enter old degree course name" required />

            <label for="new_name">New Course Name:</label>
            <input type="text" name="new_name" id="new_name" placeholder="New course name" title="Enter new course name" required />

            <label for="new_degree_course_name">New Degree Course Name:</label>
            <input type="text" name="new_degree_course_name" id="new_degree_course_name" placeholder="New degree course name" title="Enter new degree course name" required />

            <label for="new_type">New Type:</label>
            <select id="new_type" name="new_type" title="Select new course type" required>
                <option value="" disabled selected>Select course type</option>
                <option th:each="type : ${T(com.alex.universitymanagementsystem.enum_type.CourseType).values()}"
                        th:value="${type}" th:text="${type.name()}">Type</option>
            </select>

            <label for="new_cfu">New CFU Value:</label>
            <input type="text" name="new_cfu" id="new_cfu" placeholder="New CFU value" title="Enter new CFU value" required />

            <label for="new_unique_code">New Professor Unique Code:</label>
            <input type="text" name="new_unique_code" id="new_unique_code" placeholder="Professor unique code" title="Enter professor unique code" required />

            <div class="form-actions">
                <input type="submit" value="Update" class="btn primary-btn" />
                <input type="reset" value="Reset" class="btn secondary-btn" />
            </div>
        </form>

        <!-- Back to Menu Link -->
        <div class="form-actions">
            <a th:href="@{/course/course-menu}" class="home-link">Back to Menu</a>
        </div>
    </div>

</body>
</html>