<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/study-plan-courses.css">
</head>
<body>

    <h1>Study plan</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Degree Course</th>
                    <th>Course Name</th>
                    <th>CFU</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.degreeCourse.name}">Degree Course</td>
                    <td th:text="${course.name}">Course Name</td>
                    <td th:text="${course.cfu}">CFU</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-actions">
        <a th:href="@{/api/v1/study-plan/change}" class="home-link">Modify</a>
        <a th:href="@{/user_student/student-home}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>


