<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/study-plan-read.css">
</head>
<body>
    <h1>Study plan</h1>
    <p>Ordering: <span th:text="${studyPlan.ordering}">ordering</span></p>
    <table>
        <tr>
            <th>degree Course</th>
            <th>courses</th>
            <th>cfu</th>
        </tr>
        <th:block th:with="sum=0"/>
        <tr th:each="course : ${studyPlan.courses}">
            <td th:text="${course.degreeCourse.name}">degree course</td>
            <td th:text="${course.name}">course name</td>
            <td th:text="${course.cfu}">course cfu</td>
        </tr>
        <tr>
            <td>TOTAL UNIVERSITY CREDITS</td>
            <td></td>
            <td th:text="${#aggregates.sum(studyPlan.courses.![cfu])}" th:align="right">Total CFU</td>
        </tr>
    </table>
    </h1>
    <h1>Modify</h1>
    <p>Click <a th:href="@{/api/v1/study-plan/change}">&nbsp;here&nbsp;</a> for modify your study plan</p>
    <br>
    <a href="#" th:href="@{/user_student/student-home}">Back to Home</a>
</body>
</html>