<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/study_plan_modify.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/ums-study-plan.js" type="module"></script>
</head>
<body>
    <header class="main-header">
        <h1>UNI JOURNEY</h1>
    </header>
    <h1 th:text="${title}">Select courses to change</h1>
    <form action="#" th:action="@{/api/v1/study_plan/change}"
        th:object="${courses}" method="post">
        <input type="hidden" name="_method" value="PUT"/>

        <label for="degreeCourseOfNewCourse">Degree Course of new course:</label>
        <select name="degreeCourseOfNewCourse" id="degreeCourseOfNewCourse">
            <option value="">Select a degree course</option>
            <option th:each="degreeCourse : ${courses.degreeCourses}"
            th:text="${degreeCourse.name}"></option>
        </select>
        </p>

        <label for="courseToAdd">Select course to add:</label>
        <select name="courseToAdd" id="courseToAdd">
            <option value="">Select a course</option>
            <option th:each="course : ${courseToAdd}"
            th:text="${course.name}"></option>
        </select>
        </p>

        <input type="hidden" name="degreeCourseOfOldCourse" id="degreeCourseOfOldCourse" th:value="${courses.studyPlan[0].degreeCourse.name}"/>

        <label for="courseToRemove">Select course to remove:</label>
        <select name="courseToRemove" id="courseToRemove">
            <option value="">Select a course</option>
            <option th:each="course : ${courses.studyPlan}"
            th:text="${course.name}"></option>
        </select>
        </p>

        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
        </p>
    </form>
    <!-- Links moved below the form -->
    <div class="form-actions">
        <a th:href="@{/api/v1/study_plan/view}" class="home-link">Back to study plan view</a>
    </div>
    <div class="form-actions">
        <a th:href="@{/user_student/student-home}" class="home-link">Back to home</a>
    </div>
</body>
</html>