<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Create new Examination</title>
    <link rel="stylesheet" type="text/css" href="/static/css/examination-update.css">
</head>

<body>
    <h1>Insert examination information for update</h1>
    <form action="#" th:action="@{/api/v1/examination/update}" method="post">

        <input type="hidden" name="_method" value="PUT" />

        <label for="registration">Old Registration:</label>
        <input type="text" name="old_registration" title="Enter old's student registration number"
            placeholder="registration number"></p>

        <label for="course">Old Course:</label>
        <input type="text" name="old_course" title="Enter old course"
            placeholder="course"></p>

        <label for="registration">New Registration:</label>
        <input type="text" name="new_registration" title="Enter student registration number"
            placeholder="registration number"></p>

        <label for="course">New Course:</label>
        <input type="text" name="new_course" title="Enter course"
            placeholder="course"></p>

        <label for="grade">Grade:</label>
        <input type="text" name="grade" title="Enter grade"
            placeholder="grade"
            oninput="checkGrade()"></p>

        <script>
            function checkGrade() {
                var grade = document.getElementsByName("grade")[0].value;
                if (grade == 30) {
                    document.getElementById("withHonors").style.display = "block";
                } else {
                    document.getElementById("withHonors").style.display = "none";
                }
            }
        </script>

        <div id="withHonors" class="hidden">

            <label for="withHonors">With honors:</label>
            <input type="checkbox" name="withHonors" id="withHonors"
                value="false" checked="false"
                onchange="this.value = this.checked ? 'true' : 'false'"/>
            <label for="withHonors">default value is false</label>
        </div>

        <input type="hidden" name="withHonors" value="false"/>

        <label for="dob">Date of Examination:</label>
        <input type="date" name="date" title="Enter date of examination"
            placeholder="date of examination"></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <a href="#" th:href="@{/examination/examination-menu}">Back to Menu</a>
</body>