<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1">
<head>
    <title>University Management Application</title>
</head>
<body>
    <h1>Error: Invalid parameter</h1>
    <p th:if="${error == 'Course name cannot be empty'}">Course name cannot be empty.</p>
    <p th:if="${error == 'Degree course name cannot be empty'}">Degree course name cannot be empty.</p>
    <p th:if="${error == 'Date cannot be in the past'}">Date cannot be in the past.</p>
    <p><a th:href="@{/user_professor/examinations/examination_appeal/create-examination-appeal}">Go back</a></p>
</body>
</html>