<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/degree-course-list.css">
</head>
<body>
    <h1>Courses</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Cfu</th>
            <th>Professor name</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.name}">Course name</td>
            <td th:text="${course.type}">Type</td>
            <td th:text="${course.cfu}">Cfu</td>
            <td th:text="${course.professor?.fullname}">Professor</td>
        </tr>
    </table>
    <br>
    <a href="#" th:href="@{/degree_course/degree-course-menu}">Back to Menu</a>
</body>
</html>