<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/degree-course-menu.css"> <!-- Assicurati che il percorso del CSS sia corretto -->
</head>
<body>

    <h1 class="main-title">Degree Course Menu</h1>

    <div class="card-container">

        <div class="card">
            <h2>View All Degree Courses</h2>
            <p>Click <a th:href="@{/api/v1/degree-course/view}">here</a> to view all degree courses</p>
        </div>

        <div class="card">
            <h2>View All Courses of a Degree</h2>
            <p>Click <a th:href="@{/degree_course/read/read-courses}">here</a> to view all courses of a given degree</p>
        </div>

        <div class="card">
            <h2>View All Professors of a Degree</h2>
            <p>Click <a th:href="@{/degree_course/read/read-professors}">here</a> to view all professors of a given degree</p>
        </div>

        <div class="card">
            <h2>View All Students of a Degree</h2>
            <p>Click <a th:href="@{/degree_course/read/read-students}">here</a> to view all students of a given degree</p>
        </div>

    </div>

    <div class="form-actions">
        <a th:href="@{/user_admin/admin-home}" class="home-link">Back to Home</a>
    </div>

</body>
</html>