<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Degree Course Menu</title>
</head>
<body>
    <h1>View a list of all degree courses</h1>
    <p>Click <a th:href="@{/api/v1/degree-course/view}">here</a> for took all degree courses</p>

    <h1>View a list of all courses of a given degree course</h1>
    <p>Click <a th:href="@{/degree_course/read-courses}">here</a> for took all courses</p>

    <h1>View a list of all professors of a given degree course</h1>
    <p>Click <a th:href="@{/degree_course/read-professors}">here</a> for took all professors</p>

    <h1>View a list of all students of a given degree course</h1>
    <p>Click <a th:href="@{/degree_course/read-students}">here</a> for took all students</p>

    <a href="#" th:href="@{/home}">Back to Home</a>
</body>
</html>