<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Examinations List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/examination-list.css">
</head>
<body>
    <h1>Examinations List</h1>
    <table>
        <th>Course</th>
        <th>Registration</th>
        <th>Name</th>
        <th>Grade</th>
        <th>Date</th>
        <th>Degree course</th>
        <tr th:each="examination : ${examinations}">
            <td th:text="${examination.course.name}">Course name</td>
            <td th:text="${examination.student.register.register}">Student Register</td>
            <td th:text="${examination.student.name}">Student Name</td>
            <td>
                <span th:text="${examination.grade}">Grade</span>
                <span th:if="${examination.withHonors}"> with honors</span>
            </td>
            <td th:text="${examination.date}">Date</td>
            <td th:text="${examination.course.degreeCourse.name}">Degree course name</td>
        </tr>
    </table>
    <br>
    <a href="#" th:href="@{/examination/examination-menu}">Back to Menu</a>
</body>
</html>