<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin-home.css">
</head>

<body>

    <h1>Welcome admin <span sec:authentication="name"></span>!</h1>

    <div class="card-container">

        <div class="card">
            <h2>Admin menu</h2>
            <p>Click <a th:href="@{/user_admin/admin/admin-menu}">here</a> to manage users</p>
        </div>

        <div class="card">
            <h2>Student menu</h2>
            <p>Click <a th:href="@{/user_admin/student/student-menu}">here</a> to manage students</p>
        </div>

        <div class="card">
            <h2>Professor menu</h2>
            <p>Click <a th:href="@{/user_admin/professor/professor-menu}">here</a> to manage professors</p>
        </div>

        <div class="card">
            <h2>Course menu</h2>
            <p>Click <a th:href="@{/user_admin/course/course-menu}">here</a> to manage courses</p>
        </div>

        <div class="card">
            <h2>Degree Course menu</h2>
            <p>Click <a th:href="@{/user_admin/degree_course/degree-course-menu}">here</a> to manage degree courses</p>
        </div>

        <div class="card">
            <h2>Examination menu</h2>
            <p>Click <a th:href="@{/user_admin/examination/examination-menu}">here</a> to manage examinations</p>
        </div>

        <div class="card logout-card">
            <h2>Logout</h2>
            <p>Click <a th:href="@{/logout}">here</a> to log out</p>
        </div>

    </div>

    <div class="form-actions">
        <a href="/" class="home-link">Home</a>
    </div>

</body>
</html>