<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user-menu.css"> <!-- Assicurati che il percorso del CSS sia corretto -->
</head>
<body>

    <h1>User Menu</h1>

    <div class="card-container">

        <div class="card">
            <h2>View all users</h2>
            <p>Click <a th:href="@{/api/v1/user/view}">here</a> to view all users</p>
        </div>

        <div class="card">
            <h2>Update user information</h2>
            <p>Click <a th:href="@{/api/v1/user/update}">here</a> to update user information</p>
        </div>

        <div class="card">
            <h2>Delete user</h2>
            <p>Click <a th:href="@{/user_admin/delete/delete}">here</a> to delete a user</p>
        </div>

    </div>

    <div class="form-actions">
        <a th:href="@{/user_admin/admin-home}" class="home-link">Back to Home</a>
    </div>

</body>
</html>