<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Università del Mediterraneo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"> <!-- Link al file CSS -->
</head>
<body>
    <header>
        <h1>Università del Mediterraneo</h1>
    </header>

    <nav class="main-nav">
        <ul>
            <li><a href="#">Chi Siamo</a></li>
            <li><a href="#">Contatti</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2025 Università del Mediterraneo. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>