<!DOCTYPE HTML>
<html lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>

    <div class="title-container">
        <h1 class="title">UNI JOURNEY Login</h1>

        <div class="message-container" th:if="${param.logout}">
            <p class="logout-message">You have been logged out.</p>
        </div>

        <div th:if="${errorMessage}">
            <p class="error-message" th:text="${errorMessage}"></p>
        </div>

        <div th:if="${oauth2ErrorMessage}">
            <p class="error-message" th:text="${oauth2ErrorMessage}"></p>
        </div>

        <!-- Messaggio di errore specifico login -->
        <div th:if="${errorMessage}">
            <p class="error-message">Unable to login. Check your username and password.</p>
        </div>

        <!-- FORM LOGIN -->
        <form method="POST" th:action="@{/login}" id="loginForm">
            <div class="form-group">
                <input type="text" name="username" id="username" placeholder=" " required/>
                <label for="username">Username</label>
            </div>

            <div class="form-group">
                <input type="password" name="password" id="password" placeholder=" " required/>
                <label for="password">Password</label>
            </div>

            <input type="submit" value="Login"/>

            <hr>

            <p>Or log in with:</p>
            <div class="social-login">
                <a th:href="@{/oauth2/authorization/google}" class="google">Google</a>
                <a th:href="@{/oauth2/authorization/github}" class="github">GitHub</a>
            </div>

            <p class="register-link">
                New user? Click <a th:href="@{/registration}">here</a> to register.
            </p>

            <p class="forgot-password">
                Forgot your password? Click <a th:href="@{/forgot-password}">here</a> to reset it.
            </p>
        </form>

        <div class="form-actions">
            <a href="/" class="home-link">Home</a>
        </div>
    </div>

</body>
</html>
