<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
        <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1">
<head>
    <title>University Management Application</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1>Login</h1>
    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>
    <p>New user? Click&nbsp;
        <a th:href="@{/register}">here</a>&nbsp; to register.</p>

        <form method="POST" th:action="@{/login}" id="loginForm">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" /><br/>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" /><br/>
            <input type="submit" value="Login"/>
        </form>
    <br>
    <a href="/home">Home</a>
</body>
</html>