<!DOCTYPE html>
<html lang="en" xmlns="http:/ /www.w3.org/1999/xhtml"
    xmlns:th="http:/ /www.thymeleaf.org">
    <meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1">
<head>
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css">
</head>
<body>

    <div th:if="${error}">
        Unable to register. Please check your data.
    </div>

    <h1>UNI-JOURNEY - Registration</h1>

    <p>Already registered? Click&nbsp;
        <a th:href="@{/login}">here</a>&nbsp; to login.
    </p>

    <h1>Registration to University Management Website</h1>
    <form method="POST" th:action="@{/register}" id="registerForm">
        <label for="username">Username: </label>
        <input type="text" name="username"
            required title="Please enter your username"><br/>

        <label for="password">Password: </label>
        <input type="password" name="password"
            required title="Please enter your password"/><br/>

        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm"
            required title="Please confirm your password"/><br/>

        <label for="fullname">Full name: </label>
        <input type="text" name="fullname"
            required title="Please enter your full name"/><br/>

        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" title="Enter date of birth"
            required placeholder="Your date of birth"></p>

        <label for="street">Street: </label>
        <input type="text" name="street"
            required title="Please enter your street name"/><br/>

        <label for="city">City: </label>
        <input type="text" name="city"
            required title="Please enter your city"/><br/>

        <label for="state">State: </label>
        <input type="text" name="state"
            required title="Please enter your state"/><br/>

        <label for="zip">Zip: </label>
        <input type="text" name="zip"
            required title="Please enter your zip code"/><br/>

        <label for="phone">Phone: </label>
        <input type="text" name="phone"
            required title="Please enter your phone number"/><br/>

        <label for="role">Role: </label>
        <select name="role" id="role">
            <option value="STUDENT">Student</option>
            <option value="PROFESSOR">Professor</option>
            <option value="ADMIN">Admin</option>
        </select><br/>

        <input type="submit" value="Submit"/><input type="reset" value="Reset"/>
    </form>
    <br>
    <div class="form-actions">
        <a href="/" class="home-link">Home</a>
    </div>
</body>
</html>