<!DOCTYPE HTML>
<html lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css">
    <link rel="stylesheet" type="text/css" href="/static/css/password-rules.css">
</head>
<body>

    <div th:if="${error}">
        Unable to register. Please check your data.
    </div>

    <h1>UNI JOURNEY - Registration</h1>

    <p>Already registered? Click&nbsp;
        <a th:href="@{/login}">here</a>&nbsp; to login.
    </p>

    <h1>Registration to Uni Journey website</h1>
    <form th:action="@{/register}" th:object="${form}" method="post">

        <label for="username">Username: </label>
        <input type="text" th:field="*{username}"
            required title="Please enter your username"><br/>

        <label for="password">Password: </label>
        <input type="password" id="password" th:field="*{password}" required />
        <div id="password-rules">
            <p>Password must meet the following criteria:</p>
            <ul>
                <li id="rule-length">At least 8 characters</li>
                <li id="rule-uppercase">At least one uppercase letter</li>
                <li id="rule-lowercase">At least one lowercase letter</li>
                <li id="rule-number">At least one number</li>
                <li id="rule-special">At least one special character (!@#$%^&*())</li>
            </ul>
            <p>Avoid common passwords like "password" or "12345678".</p>
        </div>

        <label for="confirm">Confirm password: </label>
        <input type="password" th:field="*{confirm}"
            required title="Please confirm your password"/><br/>

        <label for="firstName">First name: </label>
        <input type="text" th:field="*{firstName}"
            required title="Please enter your first name"/><br/>

        <label for="lastName">Last name: </label>
        <input type="text" th:field="*{lastName}"
            required title="Please enter your last name"/><br/>

        <label for="dob">Date of Birth:</label>
        <input type="date" th:field="*{dob}" title="Enter date of birth"
            required placeholder="Your date of birth"></p>

        <label for="fiscalCode">Fiscal code: </label>
        <input type="text" th:field="*{fiscalCode}"
            required title="Please enter your fiscal code"/><br/>

        <label for="street">Street: </label>
        <input type="text" th:field="*{street}"
            required title="Please enter your street name"/><br/>

        <label for="city">City: </label>
        <input type="text" th:field="*{city}"
            required title="Please enter your city"/><br/>

        <label for="state">State: </label>
        <input type="text" th:field="*{state}"
            required title="Please enter your state"/><br/>

        <label for="zip">Zip: </label>
        <input type="text" th:field="*{zip}"
            required title="Please enter your zip code"/><br/>

        <label for="phone">Phone: </label>
        <input type="text" th:field="*{phone}"
            required title="Please enter your phone number"/><br/>

        <label for="role">Role: </label>
        <select th:field="*{role}" id="role">
            <option value="STUDENT">Student</option>
            <option value="PROFESSOR">Professor</option>
            <option value="ADMIN">Admin</option>
        </select><br/>

        <input type="submit" value="Submit"/><input type="reset" value="Reset"/>
    </form>
    <br>
    <div class="form-actions">
        <a href="/" class="home-link">Home</a>
    </div>
    <script src="/static/js/ums-password-rules.js"></script>
</body>
</html>