<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
        <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1">
<head>
    <title>University Management Application</title>
    <link rel="stylesheet" type="text/css" href="/static/css/professor-home.css">
</head>
<body>
    <h1 th:inline="text">Welcome professor
        <span th:remove="tag" sec:authentication="name">thymeleaf</span>!
    </h1>
    <h1>My courses</h1>
    <p>Click <a th:href="@{/api/v1/course/view/professor}">&nbsp;here&nbsp;</a> for show my courses</p>
    <h1>Appeals</h1>
    <p>Click <a th:href="@{/user_professor/examinations/examination_appeal/examination-appeal-menu}">&nbsp;here&nbsp;</a> for show examinations</p>
    <h1>Logout</h1>
    <p>Click <a th:href="@{/logout}">&nbsp;here&nbsp;</a> for log out</p>
</body>
</html>