<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/available-calendar.css"> <!-- Assicurati che il percorso sia corretto -->
</head>
<body>

    <h1>Appeals available</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Degree course</th>
                    <th>Course</th>
                    <th>Professor</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="appeal : ${appeals}">
                    <td th:text="${appeal.degreeCourse}">Degree course</td>
                    <td th:text="${appeal.course}">Course</td>
                    <td th:text="${appeal?.professorFullName}">Professor</td>
                    <td th:text="${appeal.description}">Description</td>
                    <td th:text="${appeal.date}">Date</td>
                    <td>
                        <form th:action="@{/api/v1/examination-appeal/booked/{id}(id=${appeal?.getId()})}" method="post">
                            <button type="submit" class="book-button">Book</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-actions">
        <a th:href="@{/user_student/examinations/examination-menu}" class="home-link">Back to menu</a>
    </div>

</body>
</html>
