<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
</head>
<body>
    <h1>Read Course information</h1>
    <form th:action="@{/api/v1/course/read/name}" method="get">
        <input type="text" name="courseName" placeholder="Enter course name" />
    </p>
        <input type="text" name="degreeCourseName" placeholder="Enter degree course name" />
    </p>
        <button type="submit">Search</button>
        <input type="reset" value="Reset" />
    </form>
    <br>
    <a href="#" th:href="@{/course/course-menu}">Back to Menu</a>
</body>
</html>