<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
        <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1">
<head>
    <title>Read student information</title>
</head>
<body>
    <h1>by registration number</h1>
    <form th:action="@{/api/v1/student/read/register}" method="get">
        <input type="text" name="register" placeholder="Enter student registration number" />
        <button type="submit">Search</button>
        <input type="reset" value="Reset" />
    </form>
    <h1>by student name</h1>
    <form th:action="@{/api/v1/student/read/name}" method="get">
        <input type="text" name="name" placeholder="Enter student name" />
        <button type="submit">Search</button>
        <input type="reset" value="Reset" />
    </form>
    <br>
    <a href="#" th:href="@{/student/student-menu}">Back to Menu</a>
</body>
</html>