<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
</head>
<body>
	<h1>FISCAL CODE NOT FOUND</h1>
    <p th:text="'exception: ' + ${message}"></p>
    <br>
    <p><a href="javascript:history.back()">Go back</a></p>
    <br>
    <a href="#" th:href="@{/home}">Back to home</a>
</body>
</html>