<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"
</head>
<body>
<div class="container">
    <h2>Not Found error</h2>
    <p th:text="${message}">A not found error occurred</p>
    <p><a href="javascript:history.back()">Go back</a></p>
    <a href="#" th:href="@{/home}">Back to home</a>
</div>
</body>
</html>
