<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student-home.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/static/js/ums-notify.js"></script>
</head>
<body>

    <h1>Welcome student <span sec:authentication="name"></span>!</h1>

    <div class="card-container">

        <div class="card">
            <h2>Study plan</h2>
            <p>Click <a th:href="@{/api/v1/study_plan/view}">here</a> to view your booklet</p>
        </div>

        <div class="card">
            <h2>Examinations</h2>
            <p>Click <a th:href="@{/user_student/examinations/examination-menu}">here</a> to view examinations</p>
        </div>

        <div class="card">
            <h2>Information</h2>
            <p>Click <a th:href="@{/api/v1/user/update/student}">here</a> to update your data</p>
        </div>

        <div class="card logout-card">
            <h2>Logout</h2>
            <p>Click <a th:href="@{/logout}">here</a> to log out</p>
        </div>

    </div>

    <div id="notifications">
        <h2>Notifications</h2>
        <div id="notification-list"></div>
    </div>
    <div class="form-actions">
        <a href="/" class="home-link">Home</a>
    </div>
</body>
</html>
