<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/examination-course.css"> <!-- Aggiungi il CSS se necessario -->
</head>
<body>

    <div class="error-message" th:if="${error}">
        Unable to find exams for the given course. Please check your input.
    </div>

    <h1 class="main-title">Find exams by course</h1>

    <div class="form-container">
        <h2>Search by course name</h2>
        <form th:action="@{/api/v1/examination/course-name}" method="get">
            <input type="text" name="name" placeholder="Enter course name" required />
            <button type="submit">Search</button>
            <input type="reset" value="Reset" />
        </form>
    </div>

    <div class="form-actions">
        <a th:href="@{/examination/examination-menu}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>