<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
</head>
<body>
	<h1>Error: Invalid password</h1>
    <p>Password cannot be blank. Please enter a valid password.</p>
    <p><a th:href="@{/register}">Return to Registration Page</a></p>
</body>
</html>