<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni Journey</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/upload-degree-courses.js"></script>
    <link rel="stylesheet" href="/static/css/select-degree-course.css">
</head>
<body>
    <div class="container">
        <h1>Complete student registration</h1>
        <form action="#" th:action="@{/api/v1/user/create-student}" method="post">
            <label for="degreeCourse">Degree Course:</label>
            <select id="degreeCourse" name="degreeCourse" required>
                <option value="">-- Select a Course --</option>
                <option th:each="degreeCourse : ${degreeCourses}"
                        th:value="${degreeCourse.name}"
                        th:text="${degreeCourse.name}">
                </option>
            </select>

            <label for="ordering">ordering</label>
            <input type="text" name="ordering" id="ordering" placeholder="Enter degree course ordering" title="Enter degree course ordering" required>

            <div class="form-buttons">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
        <a class="back-link" href="#" th:href="@{/home}">Back to Menu</a>
    </div>
</body>
</html>
