<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Uni Journey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/read-students.css"> <!-- Assicurati che il CSS sia corretto -->
</head>
<body>

    <div class="error-message" th:if="${error}">
        Unable to find the degree course. Please check your input.
    </div>

    <h1 class="main-title">Students</h1>

    <div class="form-container">
        <h2>Search by degree course name</h2>
        <form th:action="@{/api/v1/degree-course/read/students}" method="get">
            <input type="text" name="name" placeholder="Enter degree course name" required />
            <button type="submit">Search</button>
            <input type="reset" value="Reset" />
        </form>s
    </div>

    <div class="form-actions">
        <a th:href="@{/degree_course/degree-course-menu}" class="home-link">Back to Menu</a>
    </div>

</body>
</html>
